img{
width:100%;
border-radius:5px;
}
img:hover{
transform:scale(.5,.5);
transition: .3s transform;
border-radius:2px;
}

 
#nav {
    position:relative;
    width:auto;
    margin:0px;
    margin-top:0px;
    padding:0px ;
    float:left;
    
}
 
ul#navigation {
    margin:auto;
    position:none;
    float:left;
    }
 
ul#navigation li {
	text-decoration-style: none;
    display:inline;
    font-size:20px;
    margin:0px;
    padding:0px;
    float:left;
    position:relative;
    height: 60px;
}
 ul#navigation li a {
    padding:10px 10px;
    text-decoration:none;
    display:inline;
    border-right:0px solid #fff;
    border-left:0px solid #C2C2C2;
    border-top:0px solid #fff;
    background: #ccc;
    font-size:15px;
}
 
ul#navigation li a:hover {
    background:#ccc;
    color:#ccc;
}
 
ul#navigation li a.first {
    border-left: 0 none;
}
 
ul#navigation li a.last {
    border-right: 0 none;
}
 
ul#navigation li:hover > a {
    background:gray;
}


ul#navigation li:hover > ul
{

    visibility:visible;
    opacity:1;
}
 
ul#navigation ul, ul#navigation ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
    visibility:hidden;
    opacity:1;
    position: absolute;
    z-index: 99999;
   
    background:#f8f8f8;
   

}
 
ul#navigation ul {
    top: 43px;
    left: auto;
}
 
ul#navigation ul li ul {
    top: 0;
    right: 100px; 
}
 
ul#navigation ul li {
    clear:both;
    width:50%;
    border:1px;
   
}
 
ul#navigation ul li a {
    background:none;
    margin: 0px;
    padding:9px 15px;
    color:#616161;
    text-decoration:none;
    display:inline;
    border:0 none;
    float:left;
    clear:both;
    width:140px;
}
